# Auto detect text files and normalize
* text=auto

# Source code
*.py   text eol=lf
*.yml  text eol=lf
*.md   text eol=lf
*.txt  text eol=lf
*.mp4  text eol=lf

# Binary files
*.png  binary
*.jpg  binary
*.jpeg binary